h1{
    text-align: center;
    color: midnightblue;
}
body{
    border:black solid 2px ;
    background-color: black;
    color: white;
}
h2{
    text-align: center;
}
img{
    text-align: center;
}
.imagemnocentro{
    text-align: center;
}